* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    position: relative;
    font: 1em sans-serif;
    background-color: rgb(250, 250, 250);
    display: flex;
    justify-content: center;
    align-content: center;
    transform: translate(0%, 30%);
    z-index: 0;
  }

  body::before {
    content: '';
    position: absolute;
    z-index: 10;
    background-color: rgb(64, 184, 64);
    width: 1300px;
    height: 900px;
    border-radius: 50%;
    transform: translate(-8%, -52%);
  }
  
  .message-form {
    background-color: rgb(238, 232, 232);
    min-height: 60vmin;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem 5rem;
    border-radius: .4rem;
    z-index: 20;
  }

  p, input, .button {
    margin: 1rem 0;
  }

  p {
    font-size: 1.5rem;
    color: gray;
  }

  input[type=text] {
    min-width: 80%;
    font-size: 100%;
    display: inline-block;
    padding: .8rem 2rem .8rem .4rem;
    border: 1px solid #000;
    border-radius: .4rem;
  }

  input[type=text]:focus {
    outline: none;
  }

  .button {
    background-color: rgb(64, 184, 64);
    color: #fff;
    font-size: 1.5rem;
    padding: .5rem 1rem;
    border-radius: .4rem;
    outline: 0;
    border: 0;
    cursor: pointer;
  }

  .showMessage {
    width: 100%;
    text-align: center;
  }

  .message-content {
    display: inline-block;
    color: #000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  @media (max-width: 850px) {
    .message-form {
      width: 60%;
    }

    p, .button {
      font-size: 1.2rem;
    }

    .input:placeholder-shown {
      font-size: 1.2rem;
    }
  }
  
  @media (max-width: 650px) {
    .message-form {
      width: 70%;
    }

    p, .button {
      font-size: 1rem;
    }

    .input:placeholder-shown {
      font-size: 1rem;
    }
  }

  @media (max-width: 477px) {
    .message-form {
      width: 90%;
    }

    p, .button {
      font-size: .8rem;
    }

    .input:placeholder-shown {
      font-size: .8rem;
    }
  }
  